@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ephesis&family=Lobster&family=Oswald&family=Roboto+Slab&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Catamaran:wght@800&display=swap');


#navFonts a {
    font-size: 7vh;
    font-family: 'Arvo', serif;
}
:hover a {
    color: black;
}



#navFonts #Boxes a {
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Krona One', sans-serif;
}

body{
    background-image: url(../Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#certifications img{
    width: 300px; 
    height: 250px;
    
}

section{
    align-self:  center;
}

#logo{
    margin: 25px 0px;
}

#flecha p{
    color: whitesmoke;
    font-size: 100px;
}