@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ephesis&family=Lobster&family=Oswald&family=Roboto+Slab&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Catamaran:wght@800&display=swap');

#navFonts a {
    font-size: 7vh;
    font-family: 'Arvo', serif;
}
:hover a {
    color: black;
}



#navFonts #Boxes a {
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Krona One', sans-serif;
  
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
   
  }

  #bg{
      background-color: rgba(94, 94, 94, 0.137);
  }
form{
    padding-top: 50px;
    

}

img{
    justify-content: center;
    align-content: center;
    width: 115%;
    height: 90%;
}
#calendar{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}


aside div{
    margin: 10px;
}

aside div input{
    margin: 30px;
}

#txt{
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

input:invalid:hover{
    border: red solid 1px;
}
